# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

dist/
archive/
# testing
/coverage

# Ignore downloaded Bible files but keep essential assets
public/bibles/json/*.json
public/bibles/text/*.txt
!public/bibles/extras/strongs_definitions.json
!public/bibles/module-manifest.json

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts